@font-face { font-family: WinterPrime; src: url('../font/WinterPrime.otf'); } 
@font-face { font-family: WinterPrime; font-weight: bold; src: url('../font/WinterPrime.otf');}

body {
    overflow-y: hidden;
}

h1 {
    font-family: WinterPrime;
}
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    line-height: 1.5;
}

.site-banner {
    width: 100%;
    min-height: 50vh;
    background-image: url('../img/welcome-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    color: #ffffff;
}
.site-banner a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 12px;
}
.heading {
    color: #ffffff;
    text-align: center;
    font-family: WinterPrime;
    padding: 40px 0px;
    font-size: 11em;
    margin: 0px;
}
.footer {
    display: flex;
    
}
.footer-column {
    width: 33.33%;
    float: left;
}
.map-image {
    width: 100%;
}
.contact-form-container {
    background-color: #eaeaea;
}
.tile-content {
    padding: 20px 40px;
}
.tile-content .contact-row {
    margin-bottom: 20px;
}
.tile-field {
    margin-left: 20px;
}
.form-field {
    width: 100%;
    padding: 10px 8px;
    border-radius: 4px;
    border: #d9d8d8 1px solid;
}
.button {
    color: #ffffff;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    background: linear-gradient(to right, #08a9df, #12054a);
    border: 0px;
}

@media screen and (min-width: 1200px) {
    .container {
        min-width: 100%;
    }
}
@media screen and (min-width: 996px) {
    .container {
        min-width: 100%;
    }
}
@media screen and (min-width: 768px) {
    .container {
        min-width: 100%;
    }
}
@media screen and (min-width: 576px) {
    .container {
        min-width: 100%;
    }
}


footer {
    background-color: bisque;
    height: 50vh;
}