@font-face { font-family: WinterPrime; src: url('../font/WinterPrime.otf'); } 
@font-face { font-family: WinterPrime; font-weight: bold; src: url('../font/WinterPrime.otf');}
body {
    
}
.cards-wrapper {
    display: flex;
    flex-wrap: wrap;         /* Zorgt ervoor dat items afbreken naar de volgende regel als er geen ruimte meer is */
    gap: 0.5rem;               /* Ruimte tussen de kaarten */
    justify-content: center; /* Optioneel: centreren van de kaarten */
}
  
.posts-container {
    /* 3 kolommen naast elkaar: (100% / 3) = 33.333...% 
       -2rem als voorbeeld om de ruimte van gap ook te compenseren */
    flex: 0 0 calc(28% - 1rem);
    box-sizing: border-box;
    /*max-width: 300px;*/
    width: 100%;
}

.cards-post {
    height: 350px; /* kies een vaste hoogte */
    width: 100%;   /* vult de volledige breedte van .posts-container */
    display: flex;
    flex-direction: column;
    overflow: hidden; /* voorkomt dat de inhoud uit de card "lekt" */
}
  
.cards-post img {
    width: 100%;
    height: 200px;       /* gefixeerde hoogte */
    object-fit: cover;   /* afbeelding bijsnijden, zodat hij de container opvult */
}

.cards-post a {
    text-decoration: none;
    color: inherit;
}

.cards-post a:hover,
.cards-post a:focus {
    text-decoration: none;
    color: inherit;
}
  
.cards-post .card-body {
    background-color: #0c65ad;
    color: #fff;
    flex: 1;                  /* vult de resterende ruimte in de card */
    display: flex;
    flex-direction: column;
    justify-content: center;  /* verticaal centreren van de tekst (optioneel) */
    align-items: center;      /* horizontaal centreren van de tekst (optioneel) */
    
    position: relative;
    width: 100%;
    height: 100px;
    margin: 0;
}

.cards-post .card-body .card-title {
    color: #f8f5f5;
    font-weight: 600;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 18px;
    text-align: center;
    margin: 0;
}

.cards-post .card-body .card-date {
    color: #78B9E8;
    font-size: 1em;
    font-weight: 500;
    position: absolute;
    bottom: 0.25rem;
    left: 50%;
    transform: translateX(-50%);
}
/* MEDIA QUERIES: minder kolommen op kleinere schermen */
@media (max-width: 992px) {
    .posts-container {
      /* Bij kleinere schermen 2 kolommen */
      flex: 0 0 calc(45% - 1rem);
    }
}
@media (max-width: 576px) {
    .posts-container {
      /* Op hele kleine schermen 1 kolom */
      flex: 0 0 100%;
    }
}

/* CONTENT */
.container {
    height: 100vh;
}
.penci-section {
    height: 100vh;
}