@font-face { font-family: WinterPrime; src: url('../font/WinterPrime.otf'); } 
@font-face { font-family: WinterPrime; font-weight: bold; src: url('../font/WinterPrime.otf');}

body {
    overflow-y: scroll;
    
}
img {
    max-width: 100%;
}
.main-banner {
    width: 100%;
    height: 50vh;
    background: url("../img/welcome-bg.jpg") center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
}
.main-banner h1 {
    color: white;
    font-family: WinterPrime;
    position: absolute;
    top: 15%;
    left: 10%;
    font-size: 1000%;
}
.lees-meer-btn {
    float: right;
}
.main-blog-card {
    width: 90%;
}
.category-aside {
    width: 100%;
}
.main-blog {
    width: 70%;
}
.aside-main {
    width: 30%;
}

.w-450 {
    width: 450px;
}
.vh-100 {
    min-height: 100vh;
}
/* admin */
.section-1 {
    width: 100%;
    padding: 15px;
}
.main-table .t1 {
    width: 90%;
    max-width: 700px;
}
.react-btns i {
    font-size: 24px;
    color: #222;
    cursor: pointer;
}
.react-btns a {
    text-decoration: none;
    color: #222;
    cursor: pointer;
}
.react-btns a:hover {
    opacity: .8;
}
.react-btns .liked {
    color: #0088FF;
}
.react-btns .like:hover {
    color: #0088FF;
}
.comments .comment span {
    color: #0088FF;
}
@media only screen and (max-width: 768px) {
    .aside-main {
        display: none;
    }
    .main-blog {
        width: 100%;
    }
    .main-blog-card {
        width: 100%;
    }
}